<script>
  let clicked = false;
</script>
<div>
  <button class="btn btn-primary" on:click={() => (clicked = true)}>
    click here
  </button>
{#if clicked}
 <div><button on:click={clicked}>
    you have clicked the button
	 </div>
  {:else}
	 <div>
		 <button on:click={clicked}>
     you have not click the button
     </button> 
	 </div>
  {/if}
</div>

