<script>
    const name ="Efeti Martha";
    const favoritethings = "shopping, fashion, sports";
    const student = {name, favoritethings};
    let MeFav = {firstname:"Efeti", lastname:"Martha, Favouritethings"}
    </script>
    <p>My name is {name}! and these are some of my favorite things: {favoritethings}</p>
