
<script>
	let count = 0;
	function handleClick() {
		count = count + 1;
		console.log(count);
	
	}
</script>
<button on:click={handleClick}>increment the conter</button>  
<button on:click={handleClick}>reset</button>

