<script>
  import { each } from "svelte/internal";
  import {scalelog} from '...d3-scale';
  import {axisBottom} from '..d3-axis';
  import {select} from '...d3-selection';

    // Dimensions
    const width = 800;
    const height = 100;
    const margin = { top: 5, right: 5, bottom: 5, left: 5;}
  
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
    
    // Array
    const values = [2, 4, 6, 7, 9];
  </script>
  <svg viewBox="0 0 {width} {height}">
    <g transform="translate({margin.left},{margin.top})">
     <!--  -->
     const xScale= <d3 call=scaleBand().rangeRound([0,800]);
     const yScale = d3 class="scalelinear">.domain([0,11].range([100,0]));

      {#each values as val}
      <circle cx={xScale} cy={yScale} r=10/>
      {/each}
    </g>
  </svg>
  